footer {
    background: #e0f2f1;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    box-shadow: 0 -5px 15px #e8f5e9;
}

.message {
    position: fixed;
    background: #fff9c4;
    border-radius: 5%;
    text-align: center;
}

.marginLateralMin {
    margin-left: 3%;
    margin-right: 3%;
}
.marginHorizontalMin {
    margin-top: 3%;
    margin-bottom: 3%;
    
}
.marginTopMin {
    margin-top: 3%;
}
.marginTop {
    margin-top: 5%;
}
.marginTopMax {
    margin-top: 8%;
}
.marginBottomMin {
    margin-bottom: 3%;
}
.marginBottom {
    margin-bottom: 5%;
}
.marginBottomMax {
    margin-bottom: 8%;
}

.resizeText {
    font-size: 2em;
}
.resizeTextMin {
    font-size: 1.75em;
}

.buttonNav {
    width: 6em;
    height: 6em;
    margin: auto;
    clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
}

.buttonNav:hover {
    transition: 5s;
    background: #f4eb00;
}

.navigation {
    position: fixed;
    text-align: center;
    width: 100%;
    z-index: 0;
}

.projets {
    border: 1px solid #000000;
    background: #fff9c4;
    margin-bottom: 2%
    
}
.projets:hover {
   transition: 5s;
   background: #FFFF99;
   transform: scale(1.1);
}

.prAcc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 3.15em;
    background: #e1f5fe;
    border: 1px solid #000;
    text-align: center;
}
.prAcc:hover {
    transition: 3s;
    transform: scale(1.1);
    background: #b2dfdb;
}

.centerV {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.centerH {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.valueStats {
    font-size: 3em;
}

.sourcesLien {
    font-size: 0.75em;
    text-decoration: none;
}

@media all and (max-width:453px) {
    .marginTopMax {
        margin-top: 25%;
    }
    #btnOp {
        height: 5em;
    }
}
@media all and (min-width:454px) and (max-width:850px) {
    .marginTopMax {
        margin-top: 15%;
    }
}